body {
    font: 14px/1.5em Arial, 'Helvetica Neue', Helvetica, sans-serif;
    /*font-family: Georgia,Times,Times New Roman,serif;*/
    color: #323232;
    background-color: #FFF;
    margin:auto;
    padding: 15px 15px;
    overflow-x: auto;
    }

.current {
  color: #19A654;
}

.navigation {
    float: left;
    border-radius: 10px;
    padding: 7.5px 15px;
    margin: 0px 15px 20px -15px;
    width: calc(100% + 30px);
    background-color: #EFF0EF;
}

a {color: #1954A6;/**/
  text-decoration:none;
  font-weight:normal;
}