<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    {% if page.title == "Home" %}

        <div class="block" id="small">
        <h3 itemprop="name">Rami Mochaourab</h3>
        <p>
        <i>Senior Researcher</i>
        </p>
        <p itemprop="affiliation">
        RISE Research Institutes of Sweden<br>
        Digital Systems Division
        </p>
        <p itemprop="email">
        rami.mochaourab@ri.se
        </p>
        <p>
        <a href="http://scholar.google.com/citations?user=o3R2mZ4AAAAJ">Google Scholar Profile</a>
        </p>
      </div>

      <div class="block" id="medium">
        <img itemprop="image" src="photo.jpg" width="145" alt="picture" style="border-radius: 15px;float: left; margin-right: 25px">

        <h3 itemprop="name">Rami Mochaourab</h3>
        <i>Senior Researcher</i>
        <p itemprop="affiliation">
          RISE Research Institutes of Sweden
        </p>
        <p>
          Digital Futures Faculty member
        </p>
        <p>
        <span itemprop="email">rami.mochaourab@ri.se</span>
        &emsp;&emsp;
        <a itemprop="url" href="http://scholar.google.com/citations?user=o3R2mZ4AAAAJ">Google Scholar Profile</a>
        </p>
      </div>

    {% endif %}

    {% include navigation.html %}
    {{ content }}
  </body>
</html>
